<div class="fixed-background background-1">
	<h1 class="top-text">TOPPAGE</h1>
</div>

<div class="scroll-background  background-color-1">
</div>

<div class="fixed-background background-2">
	<h3 class="top-text">
	  自分のお気に入りの服装を投稿しましょう！<br>
	  他のユーザーのファッションにコメントやいいねをしましょう！<br>
	</h3>
</div>

<div class="scroll-background background-color-2">
</div>