<div class="top-page">
  <p class = "h3 d-flex justify-content-center pb-5">TOP PAGE</p>
  <div class="d-flex justify-content-center">
    <div>
      <p>FASSION SUPPORTでお気に入りのファッションを見つけましょう！</p><br>
      <p>投稿一覧からお気に入りのファッションを見つけましょう！</p><br>
      <p>自分のファッションを投稿しましょう！</p><br>
      <p>他のユーザーの投稿にコメントやいいね！をしましょう！</p>
    </div>
  </div>
</div>