
<p class = "h3 d-flex justify-content-center pt-3">TOP PAGE</p>
<div class="d-flex justify-content-center">
  <div>
    <p>FASSION SUPPORTは皆さんのファッションの悩みを解消します！</p><br>
    <p>1.投稿一覧からお気に入りのファッションを見つけましょう！</p><br>
    <p>2.自分のファッションを投稿しましょう！</p><br>
    <p>3.他のユーザーの投稿にコメントやいいね！をしましょう！</p>
  </div>
</div>