<div class="container">
  <div class = "row" >
    <div class="col">
      <h3 class = "font-weight-normal mt-3">いいね投稿一覧</h3>
    </div>
  </div>
  <%= render partial: "customers/posts/post", collection: @like_posts %>
</div>