<div class="container">
  <div class = "row" >
    <div class="col">
      <h3 class = "font-weight-normal mt-3">いいねした投稿</h3>
    </div>
  </div>
  <div class = "row" >
    <%= render partial: "customers/posts/post", collection: @like_posts %>
  </div>
</div>