<div class="container">
  <div class = "row" >
    <div class="col">
      <h3 class = "font-weight-normal pt-3 pb-3"><i class="fas fa-user"> </i> <%= current_user.name %></h3>
    </div>
  </div>
  <div class = "row" >
    <%= render 'customers/posts/list', post: @post %>
  </div>
</div>