@import "bootstrap";

// base

body {
  background-color: beige;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  list-style: none;
}

// header

header{
  text-align: center;
  background-image: image-url("mohammad-alizade-62t_kKa2YlA-unsplash.jpg");
  background-size: cover;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.search-form{
  padding-top: 13px;
}

.top-page{
  background-image: image-url("kitera-dent-4aZBWnYy3qM-unsplash.jpg");
  background-size: cover;
  padding: 150px;
  height: 100%;
  color: white;
}

.container{
  margin-top: 175px;
}

.top-text{
  color: white;
  margin-top: 400px;
  text-align: center;
}

.fixed-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.background-1 {
  background-image: url("navi-M4GpKa7_eCw-unsplash.jpg");
}

.background-2 {
  background-image: url("tom-podmore-ZkWsC63ultE-unsplash.jpg");
}

.newpost-page{
  background-image: image-url("tommy-lisbin-xr-y6Ruw7K8-unsplash.jpg");
  background-size: cover;
  height: 100%;
  color: white;
}

.signup-page{
  background-image: image-url("tim-swaan-eOpewngf68w-unsplash.jpg");
  background-size: cover;
  padding: 95px;
  height: 100vh;
  color: white;
  margin-top: -16px;
}

.login-page{
  background-image: image-url("tim-swaan-eOpewngf68w-unsplash.jpg");
  background-size: cover;
  padding-top: 160px;
  height: 100vh;
  color: white;
  margin-top: -3px;
}

.card-text-1 {
  font-size: 15px;
}

.form-class, .js-comment-form-1 {
  display: flex;
}

.img-post-show {
  width: 100;
}

.comments-index {
  background-color: #fff;
  border: 1px #000 solid;
}

.comment-delete {
  margin-left: auto;
}

.title-1 {
  font-size: 25px;
}

.all-post-img{
  width: 100%;
}

.success{
  color: green;
}

.post-img{
  width: 50%;
}

.post-title{
  text-decoration: none;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 22px;
 color: red;
 margin-left: 20px;
 }

 .unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 22px;
 color: #808080;
 margin-left: 20px;
 }

.notification:not(:last-child){
	margin-bottom: 0;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width: 50px;
  height: 50px;
}

.section{
  margin-top: -135px;
}

.top-icon{
  color: black;
}

// footer{
//   margin-top: 130px;
//   width: 100%;
//   position: absolute;/*←絶対位置*/
//   bottom: 0; /*下に固定*/
// }



// home


// top-header

#top-header .top-visual{
  height: 1000px;
  width: 100%;
  margin-top: 131px;
  background-size: cover;
}

.wrapper{
  margin: 0 auto;
}

#home-main{
  margin-top: 200px;
  margin-bottom: 60px;
}

#home-main .flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#home-main .flex-img{
  width: 50%;
  height: 450px;
}

#home-main .item{
  padding-top: 120px;
}

#home-main .text-top{
  font-weight: bold;
  margin-bottom: 30px;
}




// footer

#home-footer{
  background-color: #333;
  padding: 20px 0;
}

#home-footer .copy{
  text-align: center;
  font-size: 14px;
  margin: 0;
  color: #fff;
}


@media screen and (max-width: 767px) {
  .login-page{
    padding: 160px 70px 0 70px;
  }
}